{%extends 'base_ingreso.html'%} {%load static%}

{%block title%} {{cursos}}{%endblock%}</title>

    {%block favicon%}
    <link rel="shortcut icon" href="{% static 'master/img/turtle.ico'%}" />
    {%endblock%}
  </head>
  <body>
    {%block contenido%} 
    <div id="cuerpo" class="container">
        <h1>Cursos Activos</h1>
        <br>
        
        
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Fecha</th>
              <th scope="col">Ubicacion</th>
              <th scope="col">Cupos</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {%for curso in cursosActivosTotales %}
            <tr>
              <th scope="row">{{curso.id}}</th>
              <td>{{curso.nombre}}</td>
              <td>{{curso.descripcion}}</td>
              <td>{{curso.fecha}}</td>
              <td>{{curso.ubicacion}}</td>
              <td>{{curso.capacidad}}</td>
              <td><a href="{% url 'eliminarCurso' idCurso=curso.id %}">eliminar</a></td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>

      </div>
    {%endblock%} {# contenido principal#}
  </body>
</html>