{%extends 'base_ingreso.html'%} {%load static%}

{%block title%} {{Alumno}}{%endblock%}</title>

    {%block favicon%}
    <link rel="shortcut icon" href="{% static 'master/img/turtle.ico'%}" />
    {%endblock%}
  </head>
  <body>
    {%block contenido%} 
    <div id="inscripcion" class="container flex">
      <h4>bienvenido alumno {{request.session.nombre}}</h4>
      <ul>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'misCursos' %}">Mis Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'inscribirse' %}">inscribirse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'mostrar' %}">mostrar</a>
      </li>
    </ul>

    </div>
    {%endblock%} {# contenido principal#}
  </body>
</html>