{%extends 'base_ingreso.html'%} {%load static%}

{%block title%} {{misCursos}}{%endblock%}</title>

    {%block favicon%}
    <link rel="shortcut icon" href="{% static 'master/img/turtle.ico'%}" />
    {%endblock%}
  </head>
  <body>
    {%block contenido%} 
    <div id="cuerpo" class="container">
        <h1>mis cursos</h1>
        <br>
        {%for inscripcion in misCursos %}
        <ul>
            <li>nombre taller :{{inscripcion.taller.nombre}}</li>
            <li>confirmado:{{inscripcion.confirmado}}</li>
            <li>{{inscripcion.taller.fecha}}{{inscripcion.taller.ubicacion}}</li>
            <li><a  href="{% url 'eliminarInscripcion' %}">eliminar</a></li>

        </ul>
          
          {%endfor%}
          <h1>fin de lista</h1>
        </div>

      </div>
    {%endblock%} {# contenido principal#}
  </body>
</html>